{% load static %}
<html>
<head>
  <style>
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gaegu:wght@300;400;700&family=Gowun+Dodum&display=swap');
</style>
</head>
<body>
  {% include "home/index.html" %}
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white"style="font-family: 'Black Han Sans', sans-serif;font-size:185px">내 손안에 <br> 쓰레기통 <br></h1>
      </div>
    </div>
  </div>

  <div class="layer" id="l9" style="left: 1321.1527777777778px; top: 738.7383966244726px;">
    <img src="{%static 'beginimages/illustrations/leaf-cyan-2.png'%}" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">

  </ul>
  <!-- /social icon -->
</section>

<div class="layer-bg w-100">
    <img class="img-fluid w-100" src="{%static 'beginimages/illustrations/leaf-bg.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l2" style="left: -256.6579861111111px; top: 181.08649789029536px;">
    <img src="{%static 'beginimages/illustrations/dots-cyan.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l3" style="left: 581.5px; top: 193.87130801687763px;">
    <img src="{%static 'beginimages/illustrations/leaf-orange.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l4" style="left: 753.0607638888889px; top: 187.89029535864978px;">
    <img src="{%static 'beginimages/illustrations/dots-orange.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l5" style="left: 1268.7604166666667px; top: 90.68037974683544px;">
    <img src="{%static 'beginimages/illustrations/leaf-yellow.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l6" style="left: 144.390625px; top: 889.753164556962px;">
    <img src="{%static 'beginimages/illustrations/leaf-cyan.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l7" style="left: 290.2708333333333px; top: 802.8449367088608px;">
    <img src="{%static 'beginimages/illustrations/dots-group-orange.png'%}" alt="bg-shape">
  </div>
<div class="layer" id="l8" style="left: 717.1927083333334px; top: 725.6434599156119px;">
    <img src="{%static 'beginimages/illustrations/leaf-pink-round.png'%}" alt="bg-shape">
  </div>


</body></html>